@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;700&family=Montserrat:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-image:url(../img/Fondo2.jpg) ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


ul.menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 5rem;
    color: aliceblue;
    margin: 0;
    }

ul.menu li a {
        font-family: 'Saira Extra Condensed', sans-serif;
        font-weight: 400;
        font-size: 20px;
        text-transform: uppercase;
        color: var(--blanco);
        text-decoration: none;
        transition: color 0.3s;
        padding: 1rem;
        border-radius: 10px;
    }

ul.menu li a:hover {
        background-color: rgba(133, 91, 250, 0.4);
    }


/* CARD PRINCIPAL */
.container {
  width: 550px;
  padding: 40px 35px;
  border-radius: 20px;
  background: linear-gradient(180deg, rgba(120,70,200,0.35), rgba(40,10,70,0.55));
  box-shadow:
    0 0 40px rgba(120, 50, 200, 0.4),
    inset 0 0 60px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(15px);
  text-align: center;
}

/* TITULO */
.container h1 {
  font-family: 'Cinzel', serif;
  font-size: 26px;
  margin-bottom: 10px;
}

/* DESCRIPCIÓN */
.container p {
  font-size: 14px;
  opacity: 0.85;
  margin-bottom: 25px;
}

/* INPUTS */
input {
  width: 100%;
  padding: 14px;
  margin-bottom: 16px;
  border-radius: 10px;
  border: none;
  background: rgba(10, 2, 20, 0.7);
  color: white;
  outline: none;
  font-size: 14px;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.7);
}

input::placeholder {
  color: #bcaadf;
}

/* BOTÓN */
button {
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(135deg, #b48bff, #7c3aed);
  color: white;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0 0 25px rgba(150, 90, 255, 0.6);
  transition: 0.3s ease;
}

button:hover {
  transform: scale(1.03);
  box-shadow: 0 0 35px rgba(180, 120, 255, 0.9);
}

/* AYUDA */
.help {
  margin-top: 18px;
  font-size: 12px;
  opacity: 0.7;
}

.help a {
  color: #9ecbff;
  text-decoration: none;
}
